@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.main{
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-image: url("./DSC03656.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.right{
    background: linear-gradient(253.46deg,rgba(124,54,62,.1) -9.85%,rgba(255,101,119,.1) 55.64%,rgba(231,18,111,.1) 121.85%);
    border-radius: 8px;
    width: 800px;
    margin: 0 auto;
    height: fit-content;
    align-self: center;
    color: white;
}
.align{
    width:100%;
    padding: 0 5% 0 5%;
}
.split{
    display: flex;
}
#part_1, #part_2{
    width: 40%;
    margin: 0 auto;
}
.submit{
    display: block;
}
@media (max-width:600px) {
.split{
    display: block;
}
#part_1, #part_2{
    width: 100%;
    margin: 0 auto;
}
}
.label{
    color: white;
}
#verif{
    display: none;
}