@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*{
    margin: 0px;
    font-family: 'Alkatra', cursive;
}

html{
    background-color: #000000;
}

body{
    height: auto;
}

.content{
    width: 75vw;
}

@media screen and (max-width: 768px){
    .content{
        width: 100vw;
    }
    .title{
       display: none; 
    }
}